Homework_04/第四周/win8_mvvm/2. ToDoMvvm/ToDoMvvm.ServiceClient/Service References/ToDoService/ToDoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ToDoMVVM.Web.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ToDoMVVM.Web.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfToDoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToDoItem" nillable="true" type="tns:ToDoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToDoItem" nillable="true" type="tns:ArrayOfToDoItem" />
  <xs:complexType name="ToDoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToDoItem" nillable="true" type="tns:ToDoItem" />
</xs:schema>