Homework_04/第四周/win8_mvvm/2. ToDoMvvm/ToDoMvvm.ServiceClient/Service References/ToDoService/ToDoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8513/ToDoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ToDoMVVM.Web.Services" />
  <xs:element name="GetAllToDos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllToDosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ToDoMVVM.Web.Services" minOccurs="0" name="GetAllToDosResult" nillable="true" type="q1:ArrayOfToDoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToDoItemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToDoItemByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ToDoMVVM.Web.Services" minOccurs="0" name="GetToDoItemByIdResult" nillable="true" type="q2:ToDoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteToDoItemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteToDoItemByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>