Homework_04/第四周/win8_mvvm/2. ToDoMvvm/ToDoMvvm.ServiceClient/Service References/ToDoService/ToDoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ToDoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8513/ToDoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8513/ToDoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8513/ToDoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ToDoMVVM.Web.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IToDoService_GetAllToDos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllToDos" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetAllToDos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllToDosResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetToDoItemById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToDoItemById" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetToDoItemById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToDoItemByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_DeleteToDoItemById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDoItemById" />
  </wsdl:message>
  <wsdl:message name="IToDoService_DeleteToDoItemById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDoItemByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IToDoService">
    <wsdl:operation name="GetAllToDos">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/GetAllToDos" message="tns:IToDoService_GetAllToDos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/GetAllToDosResponse" message="tns:IToDoService_GetAllToDos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetToDoItemById">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/GetToDoItemById" message="tns:IToDoService_GetToDoItemById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/GetToDoItemByIdResponse" message="tns:IToDoService_GetToDoItemById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteToDoItemById">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/DeleteToDoItemById" message="tns:IToDoService_DeleteToDoItemById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/DeleteToDoItemByIdResponse" message="tns:IToDoService_DeleteToDoItemById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IToDoService" type="tns:IToDoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllToDos">
      <soap:operation soapAction="http://tempuri.org/IToDoService/GetAllToDos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToDoItemById">
      <soap:operation soapAction="http://tempuri.org/IToDoService/GetToDoItemById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteToDoItemById">
      <soap:operation soapAction="http://tempuri.org/IToDoService/DeleteToDoItemById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ToDoService">
    <wsdl:port name="BasicHttpBinding_IToDoService" binding="tns:BasicHttpBinding_IToDoService">
      <soap:address location="http://localhost:8513/ToDoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>